<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="centered">
        <h1>Sve ocjene moraju biti popunjene</h1>
        <p>Molimo Vas da pokušate ponovo!</p>
        <a href="/supervisor">Nazad</a>
    </div>


<%- include('includes/end.ejs') %>