<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="centered">       
        <h2><%=errMsg  %></h2>
        <p>Ocjene nisu uspješno snimljene, molimo Vas da pokušate ponovo!</p>  
        <a href="/grade">Nazad</a>
    </div>


<%- include('includes/end.ejs') %>