<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/record.css">
    <link rel="stylesheet" href="/css/table/report-table.css">
    <link rel="stylesheet" href="/css/grade-form/form.css">
</head>

<body>
    <%- include('../includes/navigation-supervisor.ejs') %>

    <main>
      <div class="centered">            
        <h1>Ocjene uspješno unesene!</h1>
        <a href="/grade">Nazad</a>
      </div>
    </main>
        
<%- include('../includes/end.ejs') %>